/* Styles for the video modal */

#overlayImage {
  cursor: pointer;
  width: 100%; 
}

/* the play icon over the main popover image  */
.centered-icon {
  font-size: 50px;
  color: white;
  position: relative;
  margin-top: -90px;
  left: 50%;
  margin-left: -25px; /* half icon's width */
  cursor: pointer;
}


/* Styles for middle strip of page just below the splash */
.middle-gray-bar {
  background-color: lightgray;
}

.middle-gray-bar .middle-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align:center;
}

@media (max-width: 768px) { /* equivalent to bootstrap min size, without using Less */
  .middle-gray-bar .middle-title {
    text-align:left;
    margin-left: 15px;
    padding-bottom: 0;
  }
}

.middle-gray-bar .margin-width {
  padding-top: 11px;
  padding-bottom: 5px;
}

.middle-gray-bar .margin-width input {
  width: 100%;
}

.middle-gray-bar .margin-width span {
  font-weight: bold;
}

.middle-gray-bar .margin-width button {
  margin-top: 19px;
  width: 100%;
  height: 26px;
  padding-top: 3px;
  border-radius: 0;
  font-weight: bold;
}

@media (max-width: 768px) { /* equivalent to bootstrap min size, without using Less */
  .middle-gray-bar .margin-width button {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .button-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}


/* Styles for bottom strip of page */
.bottom-gray-bar {
  background-color: gray;
}

.bottom-gray-bar .bottom-title {
  color: white;
  font-weight: bold;
}

.bottom-gray-bar .bottom-paragraph {
   color: white;
}

.bottom-gray-bar .padded-half {
  padding-left:10%;
  padding-right:10%;
  margin-top: 40px;
  margin-bottom: 40px;
}
