@-moz-keyframes loading-pulse {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@-webkit-keyframes loading-pulse {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@-o-keyframes loading-pulse {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
@keyframes loading-pulse {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background {
  fill: none;
  pointer-events: all;
}

path:hover {
  fill: #888;
  cursor: pointer;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#map-container {
  height: 500px; /* todo: responsive */;
  background: #fff;
  color: #888;
  line-height: 500px;
  font-size: 36px;
  text-align: center;
}

#map-container .loading-message {
  webkit-animation: loading-pulse 2s infinite;
  moz-animation: loading-pulse 2s infinite;
  o-animation: loading-pulse 2s infinite;
  ms-animation: loading-pulse 2s infinite;
  animation: loading-pulse 2s infinite;
}


/* the state name in the modal when a state in the map is clicked */
#state-title {
  font-size: 24px;
  font-weight: 700;

}


/* the X and arrows in the modal when a state on the map is clicked */
#modal-controls {
  position: absolute;
  right: 10px;
  top: 22px;

}


/* surround the arrows and X in the modal controls with a circle */
.circle-background {
  background-color: white;
  border: 2px gray solid;
  border-radius: 50%;
  display: inline;
  padding: 16px;
  padding-left: 18px;
  padding-right: 14px;
  margin-left: 16px;
}


.circle-background span {
  color: gray;
  font-size: 14px;
}


#modal-controls a:hover {
  text-decoration: none;
  cursor: pointer;
}


/* the X needs less left padding than the arrows to center, and more top padding */
#close-button .circle-background {
  padding-left: 15px;
  padding-right: 17px;
  padding-top: 16px;
  padding-bottom: 14px;
}