#map-stage
{
  background-color: rgb(242, 241, 236);
}

svg {
  -webkit-filter: drop-shadow( -5px -5px 5px rgb(127, 126, 125) );
  filter: drop-shadow( -5px -5px 5px rgb(127, 126, 125) ); /* Same syntax as box-shadow */
}

.overlay {
  fill: none;
}

.state {
  stroke: rgb(127, 126, 125);
  pointer-events: all;
  stroke-width: 2;
}

.state:hover {
  fill: red;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}