/* Styles for the video page */

#overlayImage {
  cursor: pointer;
  width: 100%;
}

/* responsive youtube view
   https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* the play icon over the main popover image  */
.centered-icon {
  font-size: 50px;
  color: white;
  position: relative;
  top: -90px;
  left: 50%;
  margin-left: -25px; /* half icon's width */
  cursor: pointer;
}
